{% extends "./base.html"%}

{%block title%} Gestion objetos {%endblock%}

{% block body %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edicion de articulos</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarObjeto/" method="post">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="txtCodigo" id="txtCodigo" value="{{objeto.codigo}}"
                            class="form-control" placeholder="Codigo" minlength="6" maxlength="6" readonly required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtNombre" id="txtNombre" value="{{objeto.nombre}}"
                            class="form-control" placeholder="Nombre" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="numCantidad" id="numCantidad" value="{{objeto.cantidad}}"
                            class="form-control" min="1" max="1000" value="1" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}